body {
	color:#2A2E47;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2vw;
	font-weight: 300;
  	line-height: 1.1;
}
header {
	background-color:#2A2E47;
	color:white;
	font-size: 5vw;
	font-weight: 500;
}
.frame {
	padding: 6px;
	margin: 2px;
	border: 1px solid #2A2E47;
}
.center {
    text-align: center;
}