<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.springapp.mvc.domain.Machine" />
        <mapping class="com.springapp.mvc.domain.MachineLocationFilter" />
        <mapping class="com.springapp.mvc.domain.ProducerFilter" />
        <mapping class="com.springapp.mvc.domain.SlidersFilter" />
        <mapping class="com.springapp.mvc.domain.SystemCNCFilter" />
    </session-factory>
</hibernate-configuration>